[Unit]
Description=Faiyt FFXIV Quickshell Overlay
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/env quickshell --path "@PROJECT_DIR@/shell.qml"
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
